@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h4{
  font-family: 'Montserrat', sans-serif;
  color: var(--heading-color);
  text-align: left;
}
a{
  text-decoration: none;
  color: var(--anchor-color);
}
a:hover{
  color:none;
}

.main {
  display: flex;
  height: 90vh;
  justify-content: center;
  background: white;
  gap: 2px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  font-family: Roboto;
  background: #0b0d13e5;
  flex-wrap: wrap;
}
.home {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #0b0d13e5;
  flex-wrap: wrap;
  padding: 2rem 4rem 0 4rem;
  gap: 2rem;
}
/* .side-nav,
.home {
  height: 100%;
} */

.sidenav-logo {
  width: 200px;
  height: 200px;
  text-align: center;
}

.sidenav__container-top{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items:center; */
  gap: 3rem;
}

.side-nav__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  font-family: roboto;
  font-weight: 500;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

.side-nav__list-item{
  /* display: flex; */
  /* width:100%;
  margin: 0 auto; */
}
.side-nav__list-item:hover{
  display: flex;
  border:1px solid 
  #616164;
  background-color: 
  #616164;
  border-radius:4px;
  
}

.side-nav__link{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}
.side-nav__link > p{
  margin: 0;
}

.side-nav__link:hover {
  text-decoration: none;
}


.side-nav__copyright {
  /* margin: 100px 0 0 0; */
  justify-self: flex-end;
}
.copyright__name{
  color: pink;
}

.playbar {
  width: 100%;
  background-color: rgb(27, 27, 27);
  height: 10vh;
}

.searchbar{
  display: flex;
  align-items: center;
}

.searchbar__container {
  display: flex;
  align-items: center;
  position: relative;
  width:100%;
}
.searchbar__input {
  width: 100%;
  height: 2rem;
  border-radius: 6px;
  background: #c4c4c426;
  outline: none;
  border: 1px solid #c4c4c426;
}
.searchbar__icon {
  position: absolute;
  right: 1rem; 
}

.explore-songs__container{
  display: flex;
  flex-direction: column;
}
.explore-songs__thumbnails-container{
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  flex-wrap: wrap;
}

.explore-songs__thumbnail{
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background: wheat;
}

.song-name{
  font-size: 16px;
  font-weight: 700;
  text-align: start;
  margin: 0;
}

.mood__container{
  display: flex;
  flex-direction: column;
}

.mood__interaction {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.mood__songs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  /* gap: 0.05rem; */
}
.mood__list-item {
  list-style: none;
  border: 1px solid #c4c4c426;
  background: #c7c5c526;
  border-radius: 8px;
  text-align: center;
  height: auto;
  font-size: 1.5rem;
}
.mood__webcam {
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.webcam__camera{
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.webcam__button {
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 100%;
  background: inherit;
  color: var(--text-color);
  font-size: 1.5rem;
}


.mood__prediction {
  background: rgba(196, 196, 196, 0.1);
  border-radius: 8px;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
