@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #0b0d13e5;
}
h4 {
  font-family: "Montserrat", sans-serif;
  color: var(--heading-color);
  text-align: left;
}

.main {
  display: flex;
  height: 90vh;
  justify-content: center;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  font-family: Roboto;
  border-right: 2px solid white;
  flex-wrap: wrap;
  height: 90vh;
}
.home,
.near-me,
.favourites {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 4rem 0 4rem;
  gap: 2rem;
}

.sidenav-logo {
  width: 200px;
  height: 200px;
  text-align: center;
}

.sidenav__container-top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.side-nav__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: roboto;
  font-weight: 500;
  align-items: flex-start;
  width: 100%;
}

.nav-icon {
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
}

.side-nav__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 400;
  border-radius: 5px;
  color: var(--test-color);
  margin: 5px;
}
.side-nav__link:hover {
  color: rgb(248, 248, 250);
  font-weight: 400;
  background: #59595a;
  padding: 10px 25px 10px;
  border: none;
}

.activeLink {
  color: rgb(248, 248, 250);
  font-weight: 400;
  background: #1e35cd;
  padding: 10px 25px 10px;
  border: none;
}

.side-nav__copyright {
  justify-self: flex-end;
}
.copyright__name {
  color: pink;
}

.playbar {
  width: 100%;
  background-color: rgb(27, 27, 27);
  height: 10vh;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.searchbar__input {
  width: 100%;
  height: 2rem;
  border-radius: 6px;
  background: #c4c4c426;
  outline: none;
  border: 1px solid #c4c4c426;
}
.searchbar__icon {
  position: absolute;
  right: 1rem;
}

.explore-songs__container {
  display: flex;
  flex-direction: column;
}
.explore-songs__thumbnails-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  flex-wrap: wrap;
}

.explore-songs__thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background: wheat;
}

.song-name {
  font-size: 16px;
  font-weight: 700;
  text-align: start;
  margin: 0;
}

.mood__container {
  display: flex;
  flex-direction: column;
}

.mood__interaction {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.mood__songs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  /* gap: 0.05rem; */
}
.mood__list-item {
  list-style: none;
  border: 1px solid #c4c4c426;
  background: #c7c5c526;
  border-radius: 8px;
  text-align: center;
  height: auto;
  font-size: 1.5rem;
}
.mood__webcam {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.webcam__camera {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.webcam__button {
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 100%;
  background: inherit;
  color: var(--text-color);
  font-size: 1.5rem;
}

.mood__prediction {
  background: rgba(196, 196, 196, 0.1);
  border-radius: 8px;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Landing page */ 

.landing-page__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.landing-page__logo{
  display: flex;
  justify-self: center;
  align-self:center;
  flex-grow: 1;
  margin: 5rem;
  flex-wrap: wrap;
}

.landing-page__tagline{
  justify-items: center;
  text-align: center;
  flex-grow: 2;
}
.landing-page__buttons{
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.landing-page__pri-button{
  padding: 10px 15px 10px 15px;
  margin: 15px;
  color: black;
  background: rgb(252, 175, 226);
  border: 2px solid rgb(252, 175, 226);
}

.landing-page__sec-button{
  padding: 10px;
  margin: 20px;
  color: rgb(252, 175, 226);
  background: inherit ;
  border: 2px solid rgb(252, 175, 226);
}

.tagline{
  font-family: Roboto;
}
.tagline > span{
  color:rgb(252, 175, 226);
}
